<ng-include src="'views/notifications/growl.html'"></ng-include>

<div class="container margin-top-20 " ng-init="vm.init()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Administration
            <label class="pull-right" ng-if="vm.admin.lastUpdated">Updated {{vm.admin.lastUpdated | date:"yyyy-MM-dd"}}</label>
        </div>

        <form novalidate name="panelForm">
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <h5><i class="fa  fa-bars"></i> Properties</h5>
                                <div class="well well-lg">

                                    <div class="panel-heading clearfix">
                                        <h4>Import PMR  <i class="badge">{{vm.totalCount}}</i>
                                            <uib-progressbar class="progress margin-top-10" ng-if="vm.uploadProgress > 0" value="vm.uploadProgress" type="success"><span style="color:white; white-space:nowrap;">{{vm.uploadProgress}}% {{vm.uploadStatus}}</span></uib-progressbar>
                                            <div class="pull-right">
                                                <button class="btn btn-sm btn-primary action" ng-click="vm.back()"><i class="glyphicon glyphicon-remove"></i> Back</button>
                                                <a uib-popover="Import PRM by dropping a CSV document here or click to select one" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true"
                                                   ngf-drop="vm.importPMR($file)" ngf-select="vm.importPMR($file)"
                                                   ngf-drag-over-class="'dragover'"
                                                   accept="text/csv"
                                                   class="btn btn-sm action btn-primary">
                                                    <i class="fa fa-upload"></i> Import
                                                </a>

                                            </div>

                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>


    </form>

    <div class="panel-footer form-panel-footer">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span
                ng-bind-html="alert.msg"></span></uib-alert>
        <div class="uib-button-bar">
            <button class="btn btn-sm btn-primary" ng-click="vm.back()"><i class="glyphicon glyphicon-remove"></i> Back</button>
            <button class="btn btn-sm btn-success" ng-click="vm.save()"><i class="fa fa-save"></i> Save</button>
        </div>
    </div>
</div>
</div>
