<div class="background login-background" style="border-top: 8px solid #2c76a7;margin-right: -15px;margin-left: -15px;">
    <div class="container" style="margin-top: calc(100vh/8); overflow: hidden;padding:0;">
                <div class="panel panel-primary" style="margin: 15px">
                    <div class="panel-heading">{{vm.panelTitle}}</div>
                    <div class="panel-body text-center" >
                        <h6>{{vm.panelBody}}</h6>
                    </div>
                    <div class="panel-footer text-right">
                        <a href="{{vm.okLink}}" class="btn btn-primary">Ok</a>
                    </div>
                </div>

        </div>
    </div>
</div>